{% extends "layouts/layout.html" %}
{% set title = service.name + " - Service Register" %}
{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}
{% set serviceNav = "Services" %}
{% set serviceItemNav = "Overview" %}


{% block content %}

    <section class="dfe-ros-service-header" style="background-color: #f4f8fb; border-bottom: 1px solid #8eb8dc;">
        <div class="govuk-width-container">
           {% include "services/service/_serviceheader.html" %}

           {% include "services/service/_servicenav.html" %}
        </div>

    </section>

    <section class="dfe-service-content govuk-!-padding-top-9" id="service-content">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="dashboard-section">
                        <div class="standards-header">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Service overview</h2>
                            <p class="govuk-body-s govuk-!-margin-bottom-0">Key information about the service</p>
                        </div>
                        <div class="service-panel-grid">

                            <div class="service-panel-card service-panel-card__full">
                                <div class="card-header">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Description</h3>
                                    <button class="info-button" onclick="openModal('description-info')" aria-label="About service description">
                                        <span class="govuk-visually-hidden">About service description</span>
                                        <span class="material-symbols-outlined" aria-hidden="true">info</span>
                                    </button>
                                </div>
                                <div class="card-content">
                                    <p class="govuk-body" style="max-width: 50em;">{{ service.description }}</p>
                                </div>
                            </div>
                            {# <div class="service-panel-card service-panel-card__one-third">
                                <div class="card-header">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Service resources</h3>
                                    <button class="info-button" onclick="openModal('resources-info')" aria-label="About service resources">
                                        <span class="govuk-visually-hidden">About service resources</span>
                                        <span class="material-symbols-outlined" aria-hidden="true">info</span>
                                    </button>
                                </div>
                                <div class="card-content">
                                    <ul class="govuk-list govuk-list--spaced govuk-!-font-size-16">
                                        {% for resource in service.serviceResources %}
                                            {% if loop.index <= 5 %}
                                                <li>
                                                    <a href="{{ resource.link }}" class="govuk-link govuk-link--no-visited-state">{{ resource.label }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="card-actions">
                                    {% if service.serviceResources | length > 5 %}
                                        <a href="#" class="govuk-link govuk-link--no-visited-state">+ {{ service.serviceResources|length - 5 }} more items</a>
                                    {% else %}
                                        <a href="#" class="govuk-link govuk-link--no-visited-state">More resources</a>
                                    {% endif %}
                                </div>
                            </div> #}
                        </div>
                    </div>

               

                    <div class="dashboard-section govuk-!-margin-top-6">
                        <div class="standards-header">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Taxonomy</h2>
                            <p class="govuk-body-s">Technical and operational categorisation of the service.</p>
                            <div class="service-panel-card service-panel-card__full">
                                <div class="card-header">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Categories</h3>
                                    <button class="info-button" onclick="openModal('taxonomy-info')" aria-label="About taxonomy categories">
                                        <span class="govuk-visually-hidden">About taxonomy categories</span>
                                        <span class="material-symbols-outlined" aria-hidden="true">info</span>
                                    </button>
                                </div>
                                <div class="card-content">
                                    <table class="govuk-table">
                                        <!-- DEBUG: taxonomy keys: 
                                        {% for key in taxonomy %}
                                          {{ key }},
                                        {% endfor %}
                                        -->
                                        <thead class="govuk-table__head">
                                            <tr class="govuk-table__row">
                                                <th scope="col" class="govuk-table__header">Category</th>
                                                <th scope="col" class="govuk-table__header">Values</th>
                                            </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                            {% for category in service.categories %}
                                                {% if category.values | length > 0 %}
                                                {% if category.type == 'user_groups' %}
                                                  {% set taxonomy_key = 'user_groups' %}
                                                {% elif category.type == 'service_patterns' %}
                                                  {% set taxonomy_key = 'service_patterns' %}
                                                {% elif category.type == 'service_archetypes' %}
                                                  {% set taxonomy_key = 'service_archetypes' %}
                                                {% elif category.type == 'phases' %}
                                                  {% set taxonomy_key = 'phases' %}
                                                {% elif category.type == 'channels' %}
                                                  {% set taxonomy_key = 'channels' %}
                                                {% elif category.type == 'life_stages' %}
                                                  {% set taxonomy_key = 'life_stages' %}
                                                {% elif category.type == 'education_phases' %}
                                                  {% set taxonomy_key = 'education_phases' %}
                                                {% elif category.type == 'technologies' %}
                                                  {% set taxonomy_key = 'technology' %}
                                                {% elif category.type == 'policy_areas' %}
                                                  {% set taxonomy_key = 'policy_areas' %}
                                                {% elif category.type == 'policy' %}
                                                  {% set taxonomy_key = 'policy' %}
                                                {% else %}
                                                  {% set taxonomy_key = category.type %}
                                                {% endif %}
                                                <tr class="govuk-table__row">
                                                    <td class="govuk-table__cell">
                                                        <a href="/services/service/{{ service.id }}/taxonomy#{{ taxonomy_key }}" class="govuk-link govuk-link--no-visited-state">{{ taxonomy_key | replace('_', ' ') | title }}</a>
                                                    </td>
                                                    <td class="govuk-table__cell">
                                                        {% set valueCount = category.values | length %}
                                                        {% set shown = 0 %}
                                                        {% for valueId in category.values %}
                                                            {% if shown < 2 %}
                                                                {% for item in taxonomy[taxonomy_key].items %}
                                                                    {% if item.id == valueId %}
                                                                        <span class="govuk-body-s">{{ item.name }}</span>{% if shown < 1 and valueCount > 1 %}, {% endif %}
                                                                        {% set shown = shown + 1 %}
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if valueCount > 2 %}
                                                            <a href="/services/service/{{ service.id }}/taxonomy#{{ taxonomy_key }}" class="govuk-link govuk-link--no-visited-state govuk-body-s">+ {{ valueCount - 2 }} more</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                 

                  

                    <div class="dashboard-section govuk-!-margin-top-6" id="related-services-section">

                        <div class="govuk-width-container">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Related services</h2>
                            <p class="govuk-body-s govuk-!-margin-bottom-5">Services that are related to this service or are in the same service line.</p>

                            <ul class="svc-list">
                                {% if related_services.length > 0 %}
                                    {% for related_service in related_services %}
                                        <li class="svc-list-item">
                                            <div class="svc-list-main">
                                                <div class="svc-list-info">
                                                    <div class="svc-list-title">
                                                        <a href="/services/service/{{ related_service.id }}" class="govuk-link govuk-link--no-visited-state svc-card-link--header">
                                                            {{ related_service.name }}
                                                        </a>
                                                    </div>
                                                    <div class="svc-list-meta">
                                                        <span>
                                                            <span class="svc-meta-label">Owner</span>{{ related_service.service_owner if related_service.service_owner else 'No owner' }}
                                                        </span>
                                                        <span>
                                                            <span class="svc-meta-label">Portfolio</span>
                                                            {% for portfolio in taxonomy.portfolios.items %}
                                                                {% if portfolio.id == related_service.portfolio %}{{ portfolio.name }}{% endif %}
                                                            {% endfor %}
                                                        </span>
                                                        <span>
                                                            <span class="svc-meta-label">Phase</span>
                                                            {% for phase in taxonomy.phases.items %}
                                                                {% if phase.id == related_service.phase %}{{ phase.name }}{% endif %}
                                                            {% endfor %}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="svc-list-actions svc-list-actions-row">
                                                    <a href="/services/service/{{ related_service.id }}" class="svc-btn svc-btn-primary svc-btn-view">View <span class="govuk-visually-hidden">{{ related_service.name }}</span></a>
                                                    <button class="svc-btn svc-btn-secondary svc-details-toggle" type="button" aria-expanded="false" data-target="details-{{ related_service.id }}" title="Show details">
                                                        <span class="material-symbols-outlined chevron">keyboard_arrow_down</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="svc-list-details" id="details-{{ related_service.id }}">
                                                <div class="svc-list-description">{{ related_service.description or 'No description available.' }}</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="govuk-body">No other services in this service line.</li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    {% include 'services/service/_modals.html' %}

    <style>

     
    </style>

    <script>
        function copyAISummary() {
            const panel = document.getElementById('ai-summary-panel');
            const btn = document.getElementById('copy-summary-btn');
            const original = btn.innerText;
            btn.innerText = 'Copied!';
            setTimeout(() => {
                btn.innerText = original;
            }, 1500);
        }

        function toggleAISummary() {
            const panel = document.getElementById('ai-summary-panel');
            const btn = document.getElementById('ai-summary-toggle-btn');
            const label = btn.querySelector('.ai-summary-toggle-label');
            const chevron = btn.querySelector('.ai-summary-toggle-chevron');
            const cardContent = document.getElementById('ai-summary-card-content');
            const expanded = btn.getAttribute('aria-expanded') === 'true';
            if (expanded) {
                panel.style.display = 'none';
                btn.setAttribute('aria-expanded', 'false');
                label.innerText = 'Show analysis summary';
                chevron.style.transform = 'rotate(0deg)';
                cardContent.style.paddingTop = '0';
                cardContent.style.paddingBottom = '0';
                cardContent.style.marginTop = '-41px';
            } else {
                panel.style.display = 'block';
                btn.setAttribute('aria-expanded', 'true');
                label.innerText = 'Hide analysis summary';
                chevron.style.transform = 'rotate(180deg)';
                cardContent.style.paddingTop = '';
                cardContent.style.paddingBottom = '';
                cardContent.style.marginTop = '';
            }
        }

        function openModal(modalId) {
            const modal = document.getElementById(modalId + '-modal');
            if (modal) {
                modal
                    .classList
                    .add('show');
                document.body.style.overflow = 'hidden';
                modal
                    .querySelector('.modal-content')
                    .classList
                    .add('show');
                modal
                    .querySelector('.modal-close')
                    .focus();
            }
        }

        function closeModal(modalId) {
            const modal = document.getElementById(modalId + '-modal');
            if (modal) {
                modal
                    .classList
                    .remove('show');
                document.body.style.overflow = '';
                modal
                    .querySelector('.modal-content')
                    .classList
                    .remove('show');
            }
        }

        // Initialize all modals
        document.addEventListener('DOMContentLoaded', function () {
            const modals = document.querySelectorAll('.modal-container');
            modals.forEach(modal => {
                const closeBtn = modal.querySelector('.modal-close');
                if (closeBtn) {
                    closeBtn.addEventListener('click', () => {
                        modal
                            .classList
                            .remove('show');
                        document.body.style.overflow = '';
                        modal
                            .querySelector('.modal-content')
                            .classList
                            .remove('show');
                    });
                }
                modal.addEventListener('click', (e) => {
                    if (e.target === modal) {
                        modal
                            .classList
                            .remove('show');
                        document.body.style.overflow = '';
                        modal
                            .querySelector('.modal-content')
                            .classList
                            .remove('show');
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            // Expand/collapse details with icon
            Array
                .from(document.querySelectorAll('.svc-details-toggle'))
                .forEach(btn => {
                    btn.addEventListener('click', () => {
                        const target = document.getElementById(btn.getAttribute('data-target'));
                        const chevron = btn.querySelector('.chevron');
                        // Toggle .open on .svc-summary-details for summary, .svc-list-details for service items
                        if (target.classList.contains('svc-summary-details')) {
                            const isOpen = target
                                .classList
                                .toggle('open');
                            btn.setAttribute(
                                'aria-expanded', isOpen
                                ? 'true'
                                : 'false');
                            if (chevron) 
                                chevron.textContent = isOpen
                                    ? 'keyboard_arrow_up'
                                    : 'keyboard_arrow_down';
                            }
                        else {
                            const isOpen = target
                                .classList
                                .toggle('open');
                            btn.setAttribute(
                                'aria-expanded', isOpen
                                ? 'true'
                                : 'false');
                            if (chevron) 
                                chevron.textContent = isOpen
                                    ? 'keyboard_arrow_up'
                                    : 'keyboard_arrow_down';
                            }
                        });
                });
            // Hide all details panels on page load
            Array
                .from(document.querySelectorAll('.svc-list-details'))
                .forEach(panel => {
                    panel
                        .classList
                        .remove('open');
                });
        });
    </script>
{% endblock %}