{% extends "layouts/layout.html" %}
{% set title = service.name + " - Taxonomy" %}
{% set mainClasses = "govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}
{% set serviceNav = "Services" %}

{% block content %}

    <section class="dfe-ros-service-header" style="background-color: #f4f8fb; border-bottom: 1px solid #8eb8dc;">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="service-header-flex govuk-!-margin-bottom-4 govuk-!-margin-top-5">
                        <h1 class="govuk-heading-l ">{{ service.name }}</h1>
                        <div class="service-actions">
                            <button class="service-action-btn" type="button" aria-label="Watch" onclick="openModal('watch-info')">
                                <span class="material-symbols-outlined" aria-hidden="true">star</span>
                                <span class="service-action-label">Favourite</span>
                            </button>
                            <button class="service-action-btn" type="button" aria-label="Share" onclick="openModal('share-info')">
                                <span class="material-symbols-outlined icon-share" aria-hidden="true">share</span>
                                <span class="service-action-label">Share</span>
                            </button>
                            <button class="service-action-btn" type="button" aria-label="Export" onclick="openModal('export-info')">
                                <span class="material-symbols-outlined icon-export" aria-hidden="true">download</span>
                                <span class="service-action-label">Download</span>
                            </button>
                            <button class="service-action-btn" type="button" aria-label="Edit">
                                <span class="material-symbols-outlined icon-edit" aria-hidden="true">Edit</span>
                                <span class="service-action-label">Edit</span>
                            </button>
                        </div>
                    </div>

                    <div id="manage-service"></div>

                    <table class="govuk-table govuk-!-margin-bottom-5">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header">Reference</th>
                                <th class="govuk-table__header">Phase</th>
                                <th class="govuk-table__header">Service owner</th>
                                <th class="govuk-table__header">Part of service line</th>
                                <th class="govuk-table__header">Start page</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">{{ service.id or 'N/A' }}</td>
                                <td class="govuk-table__cell">
                                    {% set phase_id = '' %}
                                    {% for category in service.categories %}
                                        {% if category.type === 'phases' and category.values and category.values.length > 0 %}
                                            {% set phase_id = category.values[0] %}
                                        {% endif %}
                                    {% endfor %}
                                    <span class="service-meta-value" data-phase-id="{{ phase_id }}">
                                        {% set has_phase = false %}
                                        {% for category in service.categories %}
                                            {% if category.type === 'phases' and category.values and category.values.length > 0 %}
                                                {% for item in taxonomy.phases.items %}
                                                    {% if item.id === category.values[0] %}
                                                        <span class="govuk-tag govuk-tag--blue">{{ item.name }}</span>
                                                        {% set has_phase = true %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if not has_phase %}
                                            Not defined
                                        {% endif %}
                                    </span>
                                </td>
                                <td class="govuk-table__cell">{{ service.service_owner or 'N/A' }}</td>
                                <td class="govuk-table__cell">
                                    <a href="/services/service-lines/{{ service.service_line_id }}" class="govuk-link govuk-link--no-visited-state">{{ service.service_line or 'N/A' }}</a>
                                </td>
                                <td class="govuk-table__cell">
                                    <a href="{{ service.public_url }}" class="govuk-link govuk-link--no-visited-state" >View service</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <nav class="app-sub-navigation" aria-label="Application menu">
                <ul class="app-sub-navigation__list">
                    <li class="app-sub-navigation__item">
                        <a class="app-sub-navigation__link" href="/services/service/{{ service.id }}">Overview</a>
                    </li>

                    <li class="app-sub-navigation__item">
                        <a class="app-sub-navigation__link" aria-current="page"  href="/services/service/{{ service.id }}/taxonomy">Taxonomy</a>
                    </li>
                    <li class="app-sub-navigation__item">
                        <a class="app-sub-navigation__link"   href="/services/service/{{ service.id }}/user-need">Users and needs</a>
                    </li>
                    <li class="app-sub-navigation__item">
                        <a class="app-sub-navigation__link"href="/services/service/{{ service.id }}/compliance">Compliance</a>
                    </li>

                    <li class="app-sub-navigation__item">
                        <a class="app-sub-navigation__link" href="/services/service/{{ service.id }}/assurance">Assurance</a>
                    </li>
                    <li class="app-sub-navigation__item">
                        <a class="app-sub-navigation__link" href="/services/service/{{ service.id }}/resources">Resources</a>
                    </li>
                    <li class="app-sub-navigation__item">
                        <a class="app-sub-navigation__link" href="/services/service/{{ service.id }}/data">Data</a>
                    </li>
                </ul>
            </nav>
        </div>

    </section>

    <section class="dfe-service-content govuk-!-padding-top-9">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <!-- Compliance summary cards -->
                    <div class="dashboard-section govuk-!-margin-bottom-6" id="taxonomy-grid">
                        <div class="dashboard-section-header govuk-!-margin-bottom-5">
                            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Taxonomy</h2>
                            <p class="govuk-body-s govuk-!-margin-bottom-0">The definitions and descriptions of the taxonomy categories used to classify this service.</p>
                        </div>
                       

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Service patterns</h3>

                            <ul class="govuk-list dfe-ros-taxonomy-list">
                                {% for servicePattern in service.servicePattern %}
                                    {% set patternInfo = null %}
                                    {% for item in taxonomy.service_patterns.items %}
                                        {% if item.id == servicePattern %}
                                            {% set patternInfo = item %}
                                        {% endif %}
                                    {% endfor %}
                                    <li>
                                        <a href="/services/categories/{{ servicePattern.split('_')[0] }}/items/{{ servicePattern}}" class="dfe-ros-taxonomy-list--thing service-pattern">
                                            <span class="dfe-ros-taxonomy-list--thing-name">
                                                {{ patternInfo and patternInfo.name or servicePattern }}
                                            </span>
                                            {% if patternInfo and patternInfo.description %}
                                                <span class="dfe-ros-taxonomy-list--thing-meta">{{ patternInfo.description }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Channels</h3>

                            <ul class="govuk-list dfe-ros-taxonomy-list">
                                {% for channel in service.channels %}
                                    {% set channelInfo = null %}
                                    {% for item in taxonomy.channels.items %}
                                        {% if item.id == channel %}
                                            {% set channelInfo = item %}
                                        {% endif %}
                                    {% endfor %}
                                    <li>
                                        <a href="/services/categories/{{ channel.split('_')[0] }}/items/{{ channel}}" class="dfe-ros-taxonomy-list--thing channels">
                                            <span class="dfe-ros-taxonomy-list--thing-name">
                                                {{ channelInfo and channelInfo.name or channel }}
                                            </span>
                                            {% if channelInfo and channelInfo.description %}
                                                <span class="dfe-ros-taxonomy-list--thing-meta">{{ channelInfo.description }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">User groups</h3>

                            <ul class="govuk-list dfe-ros-taxonomy-list">
                                {% for userGroup in service.userGroup %}
                                    {% set userGroupInfo = null %}
                                    {% for item in taxonomy.user_groups.items %}
                                        {% if item.id == userGroup %}
                                            {% set userGroupInfo = item %}
                                        {% endif %}
                                    {% endfor %}
                                    <li>
                                        <a href="/services/categories/{{ userGroup.split('_')[0] }}/items/{{ userGroup}}" class="dfe-ros-taxonomy-list--thing user-group">
                                            <span class="dfe-ros-taxonomy-list--thing-name">
                                                {{ userGroupInfo and userGroupInfo.name or userGroup }}
                                            </span>
                                            {% if userGroupInfo and userGroupInfo.description %}
                                                <span class="dfe-ros-taxonomy-list--thing-meta">{{ userGroupInfo.description }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Technology</h3>
        

                            <ul class="govuk-list dfe-ros-taxonomy-list">
                                {% for technology in service.technology %}
                                    {% set technologyInfo = null %}
                                    {% for item in taxonomy.technology.items %}
                          
                                        {% if item.id == technology %}
                                            {% set technologyInfo = item %}
                                        {% endif %}
                                    {% endfor %}
                                    <li>
                                        <a href="/services/categories/{{ technology.split('_')[0] }}/items/{{ technology}}" class="dfe-ros-taxonomy-list--thing technology">
                                            <span class="dfe-ros-taxonomy-list--thing-name">
                                                {{ technologyInfo and technologyInfo.name or technology }}
                                            </span>
                                            {% if technologyInfo and technologyInfo.description %}
                                                <span class="dfe-ros-taxonomy-list--thing-meta">{{ technologyInfo.description }}</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                               <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Policy</h3>
        

                            <ul class="govuk-list dfe-ros-taxonomy-list">
                                {% for policy in service.policy %}
                                    {% set policyInfo = null %}
                                    {% for item in taxonomy.policy.items %}
                          
                                        {% if item.id == policy %}
                                            {% set policyInfo = item %}
                                        {% endif %}
                                    {% endfor %}
                                    <li>
                                        <a href="/services/categories/{{ policy.split('_')[0] }}/items/{{ policy}}" class="dfe-ros-taxonomy-list--thing policy">
                                            <span class="dfe-ros-taxonomy-list--thing-name">
                                                {{ policyInfo and policyInfo.name or policy }}
                                            </span>
                                                <span class="dfe-ros-taxonomy-list--thing-meta">Policy</span>
                                          
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<style>
    .dfe-ros-taxonomy-list {

        margin: 0;
        padding: 0;
        list-style-position: outside;
        list-style-type: none;
        margin-bottom: 24px;
    }

    .dfe-ros-taxonomy-list--thing {
        display: flex;
        align-items: center;
        justify-content:flex-start padding: 10px;
        gap: 10px;
        border-radius: 2px;
        padding: 10px;
        margin-bottom: 10px;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 600;
        color: #ffffff;
    }

    {# .dfe-ros-taxonomy-list--thing.service-line {
        background-color: #082F4E;
        color: #ffffff;
    }

    .dfe-ros-taxonomy-list--thing.service-pattern {
        background-color: #7C1A47;
        color: #ffffff;
    }

    .dfe-ros-taxonomy-list--thing.channels {
        background-color: #014B28;
        color: #ffffff;
    }

    .dfe-ros-taxonomy-list--thing.user-group {
        background-color: #bb5a28;
        color: #ffffff;
    }

    .dfe-ros-taxonomy-list--thing.technology {
        background-color: #822700;
        color: #ffffff;
    }

    .dfe-ros-taxonomy-list--thing.policy {
        background-color: #003078;
        color: #ffffff;
    } #}

        .dfe-ros-taxonomy-list--thing.service-line {
        background-color: #f4f8fb;
        color: #0A0C0C;
        border: 1px solid #b1b4b6;
    }

    .dfe-ros-taxonomy-list--thing.service-pattern {
        background-color: #f4f8fb;
        color: #0A0C0C;
        border: 1px solid #b1b4b6;
    }

    .dfe-ros-taxonomy-list--thing.channels {
        background-color: #f4f8fb;
        color: #0A0C0C;
        border: 1px solid #b1b4b6;
    }

    .dfe-ros-taxonomy-list--thing.user-group {
        background-color: #f4f8fb;
        color: #0A0C0C;
        border: 1px solid #b1b4b6;
    }

    .dfe-ros-taxonomy-list--thing.technology {
        background-color: #f4f8fb;
        color: #0A0C0C;
        border: 1px solid #b1b4b6;
    }

    .dfe-ros-taxonomy-list--thing.policy {
        background-color: #f4f8fb;
        color: #0A0C0C;
        border: 1px solid #b1b4b6;
    }

    .dfe-ros-taxonomy-list--thing-meta {
        border-left: 1px solid #ffffff;
        padding-left: 10px;
        font-weight: 400;
        transition: border-color 0.2s;
        font-size: 0.9rem;
    }

    .dfe-ros-taxonomy-list--thing.channels:focus .dfe-ros-taxonomy-list--thing-meta,
    .dfe-ros-taxonomy-list--thing.service-line:focus .dfe-ros-taxonomy-list--thing-meta,
    .dfe-ros-taxonomy-list--thing.service-pattern:focus .dfe-ros-taxonomy-list--thing-meta,
    .dfe-ros-taxonomy-list--thing.user-group:focus .dfe-ros-taxonomy-list--thing-meta,
    .dfe-ros-taxonomy-list--thing.technology:focus .dfe-ros-taxonomy-list--thing-meta,
    .dfe-ros-taxonomy-list--thing.policy:focus .dfe-ros-taxonomy-list--thing-meta {
        border-left: 1px solid #0A0C0C;
    }

    .dfe-ros-taxonomy-list--thing.channels:focus,
    .dfe-ros-taxonomy-list--thing.service-line:focus,
    .dfe-ros-taxonomy-list--thing.service-pattern:focus,
    .dfe-ros-taxonomy-list--thing.user-group:focus,
    .dfe-ros-taxonomy-list--thing.technology:focus,
    .dfe-ros-taxonomy-list--thing.policy:focus {
        box-shadow: none;
        background-color: #FFdd00;
        color: #0A0C0C;
    }

    {# Hover state #}

    .dfe-ros-taxonomy-list--thing:hover {
        background-color: #e8f1f8;
        color: #0A0C0C;
    }

    .dfe-ros-taxonomy-list--thing-meta {
        border-left: 1px solid #b1b4b6;
    }
</style>

{% endblock %}