<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
    <div class="govuk-width-container">
        <div class="govuk-service-navigation__container">
            <span class="govuk-service-navigation__service-name">
                <a href="/" class="govuk-service-navigation__link {% if serviceNav == 'Home' %}govuk-service-navigation__item--active{% endif %}">
                    Register of services
                </a>
            </span>
            <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                        aria-controls="navigation" hidden>
                    Menu
                </button>
                
                <ul class="govuk-service-navigation__list" id="navigation">
                    <li class="govuk-service-navigation__item {% if serviceNav == 'Dashboard' %}govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="govuk-service-navigation__item {% if serviceNav == 'Services' %}govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="/services">Services</a>
                    </li>
                    <li class="govuk-service-navigation__item {% if serviceNav == 'Categories' %}govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="/categories">Taxonomy</a>
                    </li>
                    <li class="govuk-service-navigation__item {% if serviceNav == 'Data' %}govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="/data">Use the data</a>
                    </li>
                    <li class="govuk-service-navigation__item {% if serviceNav == 'Reports' %}govuk-service-navigation__item--active{% endif %}">
                        <a class="govuk-service-navigation__link" href="/reports">Reports</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>